@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

:root {
	--black: #0b0b0b;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

#root {
	background: #f0f2f5;
}

.logo {
	width: 150px;
}

@media (max-width: 480px) {
	.logo {
		width: 100px;
	}
}

.svg {
	fill: var(--black);
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 20px;
	align-items: flex-start;
}

.ant-card-meta-detail {
	width: 100%;
}

.spinner-white i {
	background: #fff;
}

.ant-input-prefix {
	margin-right: 15px !important;
}

.ant-input-suffix {
	margin-left: 15px !important;
}

.ant-image {
	height: 100%;
	width: 100%;
}

.ant-upload.ant-upload-select-picture-card {
	margin: 0 !important;
	width: 100% !important;
	padding: 0 10px !important;
}

.ant-carousel.ant-carousel .slick-dots li button {
	height: 5px;
	background: #40a9ff;
}

.ant-carousel.ant-carousel .slick-dots li.slick-active button {
	background: #1890ff;
}

.offercard_meta > .ant-space-item {
	width: 100%;
}

.account-sider > div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
