@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

:root {
  --black: #0b0b0b;
  --gray: #686868;
  --accent: #ff7a00;
  --error: #ec1313;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.logo {
  width: 150px;
}

.svg {
  fill: var(--black);
}

ul.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 40px 0;
}

.pagination li {
  font-size: 18px;
  color: var(--black);
  cursor: pointer;
}

.pagination li a {
  display: flex;
}

.pagination :is(.prev, .next) {
  background: var(--accent);
  padding: 8px;
  border-radius: 100%;
  font-size: 22px;
  color: #fff;
}

.pagination .prev {
  margin-right: 15px;
}

.pagination .next {
  margin-left: 15px;
}

.pagination .active {
  color: var(--accent);
}

.pagination .disabled {
  cursor: not-allowed;
  background: #ff7a004d;
}

.container {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  color: #7d7d7d;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  border: 1px solid #ded4ca;
  border-radius: 4px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 5px;
  top: 1px;
  width: 3px;
  height: 7px;
  border: solid var(--accent);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
